 # Table of Contents
<div class="toc" style="margin-top: 1em;"><ul class="toc-item" id="toc-level0"><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Preprocessing-the-Dataset" data-toc-modified-id="Preprocessing-the-Dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preprocessing the Dataset</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Likes-from-object-to-numeric" data-toc-modified-id="Likes-from-object-to-numeric-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Likes from object to numeric</a></span></li><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Budget-from-object-to-numeric" data-toc-modified-id="Budget-from-object-to-numeric-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Budget from object to numeric</a></span></li><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Country" data-toc-modified-id="Country-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Country</a></span></li><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Duration" data-toc-modified-id="Duration-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Duration</a></span></li><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Language" data-toc-modified-id="Language-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Language</a></span></li><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Genres" data-toc-modified-id="Genres-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Genres</a></span></li><li><span><a href="http://localhost:8888/notebooks/Preprocessing.ipynb#Keywords-&amp;-Storyline" data-toc-modified-id="Keywords-&amp;-Storyline-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Keywords &amp; Storyline</a></span></li></ul></li></ul></div>

# Preprocessing the Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data_from_scrapping.csv', sep=";", encoding='utf-8')

In [5]:
data.shape

(5153, 27)

In [3]:
data.head()

,Unnamed: 0,Actor_1_id,Actor_1_like,Actor_1_name,Actor_2_id,Actor_2_like,Actor_2_name,Actor_3_id,Actor_3_like,Actor_3_name,...,Gross,IMDb_critics,IMDb_rating,Keywords,Language,Movie_name,Movie_url,Opening Weekend,Storyline,Year
0,0,nm0941777,5.3,Sam Worthington,nm0757855,NaN,Zoe Saldana,nm0000244,5.3,Sigourney Weaver,...,"2,787,965,087,","983,961",7.8,"['paraplegic', 'avatar', 'marine', 'native', '...",English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,"77,025,481","\n\nWhen his brother is killed in a robbery, p...",2009.0
1,1,nm3766090,13,Doug Walker,nm3597657,1,Rob Walker,NaN,NaN,NaN,...,NaN,20,6.1,[],NaN,Star Wars: Episode VII - The Force Awakens,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN
2,2,nm0000136,40,Johnny Depp,nm0089217,5.1,Orlando Bloom,nm0461136,40,Keira Knightley,...,"963,420,425,","528,551",7.1,"['mass hanging', 'pirate', 'goddess', 'treache...",English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,"139,802,190","\n\nAfter Elizabeth, Will, and Captain Barboss...",2007.0
3,3,nm0185819,8.5,Daniel Craig,nm0910607,11,Christoph Waltz,nm2244205,8.5,Léa Seydoux,...,"880,674,175","331,453",6.8,"['spy', 'espionage', 'sequel', 'bomb', 'terror...",English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,"70,403,148",\n\nA cryptic message from the past sends Jame...,2015.0
4,4,nm0000288,NaN,Christian Bale,nm0362766,NaN,Tom Hardy,nm0004266,NaN,Anne Hathaway,...,"1,084,939,099","1,300,787",8.4,"['dc comics', 'cave in', 'dungeon', 'terrorist...",English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,"160,887,295",\n\nDespite his tarnished reputation after the...,2012.0

In [9]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
data.isnull().sum()

Unnamed: 0            0
Actor_1_id           25
Actor_1_like        825
Actor_1_name         25
Actor_2_id           38
Actor_2_like        638
Actor_2_name         38
Actor_3_id           46
Actor_3_like        840
Actor_3_name         46
Budget              770
Country              38
Director_id         134
Director_like       577
Director_name       134
Duration           3146
Genres                0
Gross              2797
IMDb_critics         53
IMDb_rating          53
Keywords              0
Language             46
Movie_name            0
Movie_url             0
Opening Weekend    1118
Storyline            42
Year                156
dtype: int64

In [6]:
df = pd.read_csv('movie_metadata.csv')

In [7]:
df.shape

(5043, 28)

In [8]:
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [10]:
features_for_model = ["Actor_1_like", "Actor_2_like", "Actor_3_like", "Budget", "Country", "Director_like", "Duration"
                     ,"Genres", "Keywords", "Language", "Storyline", "Year"]
target_gross = ["Gross"]
target_imdb = ["IMDb_rating"]
target_opening = ["Opening Weekend"]

In [11]:
X = data[features_for_model]
y = data[target_gross]

In [33]:
X.dtypes

Actor_1_like      object
Actor_2_like      object
Actor_3_like      object
Budget           float64
Country           object
Director_like     object
Duration          object
Genres            object
Keywords          object
Language          object
Storyline         object
Year             float64
dtype: object

## Likes from object to numeric

In [16]:
pd.to_numeric(X['Actor_1_like'])

ValueError: Unable to parse string "on" at position 31

## Budget from object to numeric

In [24]:
X['Budget'][0].replace(',', '')

'237000000'

In [28]:
X['Budget'].values

array(['237,000,000', nan, '300,000,000', ..., nan, '1,400', '1,100'],
      dtype=object)

In [32]:
X["Budget"] = X["Budget"].str.replace(',', '').astype(float)

/Users/Romain/.virtualenvs/romainvenv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Country

In [34]:
X['Country'].unique()

array(['UK', nan, 'USA', 'New Zealand', 'Canada', 'China', 'Japan',
       'Australia', 'France', 'Belgium', 'Germany', 'Spain', 'New Line',
       'South Africa', 'Czech Republic', 'Mexico', 'Finland', 'Hong Kong',
       'Malta', 'India', 'Soviet Union', 'South Korea', 'Peru',
       'Netherlands', 'Italy', 'Russia', 'Aruba', 'Denmark', 'Libya',
       'Ireland', 'Iceland', 'Romania', 'West Germany', 'Chile',
       'Argentina', 'Hungary', 'Panama', 'Switzerland', 'Sweden',
       'Norway', 'Taiwan', 'Official site', 'Cambodia', 'Thailand',
       'Slovakia', 'Bulgaria', 'Iran', 'Poland', 'Georgia', 'Austria',
       'Turkey', 'Nigeria', 'Brazil', 'Bahamas', 'Colombia', 'Israel',
       'Kyrgyzstan', 'Indonesia', 'Pakistan', 'Puerto Rico', 'Slovenia',
       'Afghanistan', 'Dominican Republic', 'Greece', 'Cameroon',
       'United Arab Emirates', 'Kenya', 'Philippines'], dtype=object)

In [35]:
len(X['Country'].unique())

68

In [41]:
X['label_country'] = X['Country']
cleanup_countries = {"label_country": {"UK": 0, 'France':0, 'Belgium':0, 'Germany':0, 'Spain':0, 'Czech Republic':0,
                                       'Finland':0, 'Malta':0, 'Soviet Union':0, 'Netherlands':0, 'Italy':0,
                                       'Russia':0,'Denmark':0,'Ireland':0, 'Iceland':0, 'Romania':0, 'West Germany':0,
                                       'Hungary':0,'Switzerland':0, 'Sweden':0,'Norway':0,'Slovakia':0, 'Bulgaria':0,
                                       'Poland':0, 'Georgia':0, 'Austria':0,'Turkey':0,'Israel':0,'Slovenia':0,
                                       'Greece':0,
                                         "USA": 1, "Canada":1, 'Mexico':1,'Peru':1,'Aruba':1,'Chile':1,'Argentina':1,
                                       'Panama':1, 'Brazil':1, 'Bahamas':1, 'Colombia':1, 'Puerto Rico':1,
                                       'Dominican Republic':1,
                                         "New Zealand": 2, 'Australia':2,
                                         'China': 3, 'Japan':3, 'Hong Kong':3, 'South Korea':3,'Taiwan':3,'Cambodia':3,
                                       'Thailand':3, 'Kyrgyzstan':3, 'Indonesia':3,  'Iran':3, 'Afghanistan':3,
                                       'Philippines':3,
                                         'South Africa':4, 'Libya':4,'Nigeria':4,'Cameroon':4,'United Arab Emirates':4, 
                                       'Kenya':4,
                                      'India':5,'Pakistan':5,
                                      'Official site':np.nan, 'New Line':np.nan}}
X.replace(cleanup_countries, inplace=True)

/Users/Romain/.virtualenvs/romainvenv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/Romain/.virtualenvs/romainvenv/lib/python3.6/site-packages/pandas/core/generic.py:3855: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)

In [42]:
X['label_country'].unique()

array([ 0., nan,  1.,  2.,  3.,  4.,  5.])

## Duration

In [103]:
X['Duration']

0       162 min
1           NaN
2       169 min
3       148 min
4       164 min
5       150 min
6       132 min
7           NaN
8       139 min
9       141 min
10      147 min
11      151 min
12      169 min
13      153 min
14      161 min
15      144 min
16          NaN
17      154 min
18      106 min
19      143 min
20      151 min
21      143 min
22          NaN
23      136 min
24      124 min
25          NaN
26      150 min
27      165 min
28          NaN
29      140 min
         ...
5123        NaN
5124        NaN
5125        NaN
5126        NaN
5127        NaN
5128        NaN
5129        NaN
5130        NaN
5131        NaN
5132    108 min
5133        NaN
5134        NaN
5135        NaN
5136        NaN
5137        NaN
5138        NaN
5139        NaN
5140        NaN
5141        NaN
5142        NaN
5143        NaN
5144        NaN
5145        NaN
5146        NaN
5147     43 min
5148        NaN
5149        NaN
5150        NaN
5151        NaN
5152        NaN
Name: Duration, Length: 5153, dtype: object

In [52]:
X['Duration'].str.split(' ',1)

0       [162, min]
1              NaN
2       [169, min]
3       [148, min]
4       [164, min]
5       [150, min]
6       [132, min]
7              NaN
8       [139, min]
9       [141, min]
10      [147, min]
11      [151, min]
12      [169, min]
13      [153, min]
14      [161, min]
15      [144, min]
16             NaN
17      [154, min]
18      [106, min]
19      [143, min]
20      [151, min]
21      [143, min]
22             NaN
23      [136, min]
24      [124, min]
25             NaN
26      [150, min]
27      [165, min]
28             NaN
29      [140, min]
           ...
5123           NaN
5124           NaN
5125           NaN
5126           NaN
5127           NaN
5128           NaN
5129           NaN
5130           NaN
5131           NaN
5132    [108, min]
5133           NaN
5134           NaN
5135           NaN
5136           NaN
5137           NaN
5138           NaN
5139           NaN
5140           NaN
5141           NaN
5142           NaN
5143           NaN
5144           NaN
5145           NaN
5146           NaN
5147     [43, min]
5148           NaN
5149           NaN
5150           NaN
5151           NaN
5152           NaN
Name: Duration, Length: 5153, dtype: object

In [60]:
X = X.join(X['Duration'].str.split(' ', 1, expand=True).rename(columns={0:'Duration_movie', 1:'Trash'}))

In [65]:
X['Duration_movie'] = pd.to_numeric(X['Duration_movie'])

## Language

In [68]:
X['Language'].unique()

array(['English', nan, 'Japanese', 'French', 'Mandarin', 'Aboriginal',
       'Spanish', 'Filipino', 'Hindi', 'Russian', 'Maya', 'Telugu',
       'Kazakh', 'Cantonese', 'Icelandic', 'German', 'Aramaic', 'Italian',
       'Dutch', 'Dari', 'Chinese', 'Mongolian', 'Swedish', 'Korean',
       'Thai', 'Polish', 'Bosnian', 'None', 'Hungarian', 'Portuguese',
       'Danish', 'Arabic', 'Norwegian', 'Czech', 'Kannada', 'Zulu',
       'Punjabi', 'Hebrew', 'Tamil', 'Dzongkha', 'Vietnamese',
       'Indonesian', 'Urdu', 'Romanian', 'Persian', 'Slovenian', 'Greek',
       'Swahili'], dtype=object)

In [69]:
X['label_language'] = X['Language']
cleanup_languages = {"label_language": {'English':0,'Japanese':1, 'French':2, 'Mandarin':3, 'Aboriginal':7,
       'Spanish':4, 'Filipino':7, 'Hindi':5, 'Russian':7, 'Maya':7, 'Telugu':7,
       'Kazakh':7, 'Cantonese':7, 'Icelandic':7, 'German':6, 'Aramaic':7, 'Italian':7,
       'Dutch':7, 'Dari':7, 'Chinese':7, 'Mongolian':7, 'Swedish':7, 'Korean':7,
       'Thai':7, 'Polish':7, 'Bosnian':7, 'None':np.nan, 'Hungarian':7, 'Portuguese':7,
       'Danish':7, 'Arabic':7, 'Norwegian':7, 'Czech':7, 'Kannada':7, 'Zulu':7,
       'Punjabi':7, 'Hebrew':7, 'Tamil':7, 'Dzongkha':7, 'Vietnamese':7,
       'Indonesian':7, 'Urdu':7, 'Romanian':7, 'Persian':7, 'Slovenian':7, 'Greek':7,
       'Swahili':7}}
X.replace(cleanup_languages, inplace=True)

In [70]:
X['label_language'].value_counts()

0.0    4763
7.0     126
2.0      81
4.0      42
5.0      28
3.0      27
6.0      19
1.0      19
Name: label_language, dtype: int64

## Genres

In [77]:
X['Genres']

0           ['Action', 'Adventure', 'Fantasy']
1                              ['Documentary']
2           ['Action', 'Adventure', 'Fantasy']
3          ['Action', 'Adventure', 'Thriller']
4                       ['Action', 'Thriller']
5           ['Action', 'Adventure', 'Western']
6            ['Action', 'Adventure', 'Sci-Fi']
7         ['Animation', 'Adventure', 'Comedy']
8            ['Action', 'Adventure', 'Sci-Fi']
9            ['Action', 'Adventure', 'Sci-Fi']
10           ['Action', 'Adventure', 'Sci-Fi']
11          ['Action', 'Adventure', 'Fantasy']
12          ['Adventure', 'Family', 'Fantasy']
13          ['Adventure', 'Family', 'Fantasy']
14                    ['Adventure', 'Fantasy']
15                    ['Adventure', 'Fantasy']
16          ['Action', 'Adventure', 'Fantasy']
17           ['Action', 'Adventure', 'Sci-Fi']
18         ['Action', 'Adventure', 'Thriller']
19           ['Action', 'Adventure', 'Sci-Fi']
20          ['Action', 'Adventure', 'Fantasy']
21          ['Action', 'Adventure', 'Fantasy']
22           ['Action', 'Adventure', 'Family']
23           ['Action', 'Adventure', 'Sci-Fi']
24           ['Action', 'Adventure', 'Sci-Fi']
25           ['Action', 'Adventure', 'Comedy']
26           ['Action', 'Adventure', 'Sci-Fi']
27           ['Action', 'Adventure', 'Sci-Fi']
28          ['Action', 'Adventure', 'Fantasy']
29            ['Action', 'Adventure', 'Drama']
                         ...
5123                       ['Comedy', 'Drama']
5124                     ['Comedy', 'Romance']
5125                                 ['Drama']
5126                    ['Sci-Fi', 'Thriller']
5127    ['Documentary', 'Biography', 'Comedy']
5128           ['Drama', 'Horror', 'Thriller']
5129            ['Comedy', 'Drama', 'Romance']
5130                               ['Romance']
5131                                 ['Drama']
5132                       ['Comedy', 'Crime']
5133              ['Action', 'Crime', 'Drama']
5134                                ['Horror']
5135                                 ['Drama']
5136             ['Drama', 'Music', 'Romance']
5137            ['Crime', 'Horror', 'Mystery']
5138                                 ['Drama']
5139                        ['Crime', 'Drama']
5140                                 ['Drama']
5141                       ['Action', 'Sport']
5142                       ['Comedy', 'Drama']
5143           ['Action', 'Crime', 'Thriller']
5144           ['Drama', 'Sci-Fi', 'Thriller']
5145                              ['Thriller']
5146                        ['Drama', 'Crime']
5147             ['Crime', 'Drama', 'Mystery']
5148                    ['Documentary', 'War']
5149                       ['Comedy', 'Drama']
5150            ['Comedy', 'Drama', 'Romance']
5151           ['Drama', 'Horror', 'Thriller']
5152                           ['Documentary']
Name: Genres, Length: 5153, dtype: object

In [79]:
X.join(X['Genres'].str.split(',', 1, expand=True).rename(columns={0:'Genre_1', 1:'Genre_2',2:'Genre_3'}))

,Actor_1_like,Actor_2_like,Actor_3_like,Budget,Country,Director_like,Duration,Genres,Keywords,Language,Storyline,Year,label_country,Duration_movie,Trash,label_language,Genre_1,Genre_2
0,5.3,NaN,5.3,237000000.0,UK,7,162 min,"['Action', 'Adventure', 'Fantasy']","['paraplegic', 'avatar', 'marine', 'native', '...",English,"\n\nWhen his brother is killed in a robbery, p...",2009.0,0.0,162.0,min,0.0,['Action',"'Adventure', 'Fantasy']"
1,13,1,NaN,NaN,NaN,13,NaN,['Documentary'],[],NaN,NaN,NaN,NaN,NaN,None,NaN,['Documentary'],None
2,40,5.1,40,300000000.0,USA,58,169 min,"['Action', 'Adventure', 'Fantasy']","['mass hanging', 'pirate', 'goddess', 'treache...",English,"\n\nAfter Elizabeth, Will, and Captain Barboss...",2007.0,1.0,169.0,min,0.0,['Action',"'Adventure', 'Fantasy']"
3,8.5,11,8.5,245000000.0,UK,on,148 min,"['Action', 'Adventure', 'Thriller']","['spy', 'espionage', 'sequel', 'bomb', 'terror...",English,\n\nA cryptic message from the past sends Jame...,2015.0,0.0,148.0,min,0.0,['Action',"'Adventure', 'Thriller']"
4,NaN,NaN,NaN,250000000.0,UK,NaN,164 min,"['Action', 'Thriller']","['dc comics', 'cave in', 'dungeon', 'terrorist...",English,\n\nDespite his tarnished reputation after the...,2012.0,0.0,164.0,min,0.0,['Action','Thriller']
5,40,5.5,40,215000000.0,USA,58,150 min,"['Action', 'Adventure', 'Western']","['horse', 'woman', 'american indian', 'peanut'...",English,"\n\nIn the 1930s, an elderly Tonto tells a you...",2013.0,1.0,150.0,min,0.0,['Action',"'Adventure', 'Western']"
6,5.6,1.8,5.6,250000000.0,USA,48,132 min,"['Action', 'Adventure', 'Sci-Fi']","['mars', 'princess', 'alien', 'arizona', 'ariz...",English,"\n\nJohn Carter, a Civil War veteran, who in 1...",2012.0,1.0,132.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
7,2.2,this,2.2,260000000.0,USA,1,NaN,"['Animation', 'Adventure', 'Comedy']","['rapunzel', 'disney', 'based on fairy tale', ...",English,\n\nAfter receiving the healing powers from a ...,2010.0,1.0,NaN,None,0.0,['Animation',"'Adventure', 'Comedy']"
8,2.9,4.1,2.9,258000000.0,USA,1.3,139 min,"['Action', 'Adventure', 'Sci-Fi']","['villain', 'spider man', 'sandman', 'venom', ...",English,\n\nPeter Parker has finally managed to piece ...,2007.0,1.0,139.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
9,1,11,1,250000000.0,USA,this,141 min,"['Action', 'Adventure', 'Sci-Fi']","['superhero', 'marvel cinematic universe', 'ba...",English,\n\nTony Stark creates the Ultron Program to p...,2015.0,1.0,141.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
10,11,1,11,250000000.0,USA,10,147 min,"['Action', 'Adventure', 'Sci-Fi']","['marvel cinematic universe', 'based on comic ...",English,\n\nWith many people fearing the actions of su...,2016.0,1.0,147.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
11,6.9,15,6.9,250000000.0,USA,2.3,151 min,"['Action', 'Adventure', 'Fantasy']","['based on comic book', 'batman', 'superhero',...",English,\n\nThe general public is concerned over havin...,2016.0,1.0,151.0,min,0.0,['Action',"'Adventure', 'Fantasy']"
12,6,6.3,6,180000000.0,USA,7.9,169 min,"['Adventure', 'Family', 'Fantasy']","['wizard', 'dragon', 'dwarf', 'hobbit', 'orc']",English,\n\nBilbo Baggins is swept into a quest to rec...,2012.0,1.0,169.0,min,0.0,['Adventure',"'Family', 'Fantasy']"
13,NaN,9.2,NaN,250000000.0,UK,31,153 min,"['Adventure', 'Family', 'Fantasy']","['foaming at the mouth', 'hereditary gift of w...",English,\n\nIn the sixth year at Hogwarts School of Wi...,2009.0,0.0,153.0,min,0.0,['Adventure',"'Family', 'Fantasy']"
14,6.3,6,6.3,225000000.0,USA,7.9,161 min,"['Adventure', 'Fantasy']","['giant spider', 'sword and sorcery', 'elf', '...",English,\n\nAfter successfully crossing over (and unde...,2013.0,1.0,161.0,min,0.0,['Adventure','Fantasy']
15,6.3,6,6.3,250000000.0,New Zealand,7.9,144 min,"['Adventure', 'Fantasy']","['middle earth', 'orc', 'hobbit', 'elf', 'army']",English,\n\nAfter the Dragon leaves the Lonely Mountai...,2014.0,2.0,144.0,min,0.0,['Adventure','Fantasy']
16,40,NaN,40,250000000.0,USA,28,NaN,"['Action', 'Adventure', 'Fantasy']","['pirate', 'captain', 'blackbeard', 'soldier',...",English,\n\nCaptain Jack Sparrow (Depp) crosses paths ...,2011.0,1.0,NaN,None,0.0,['Action',"'Adventure', 'Fantasy']"
17,2.3,NaN,2.3,209000000.0,USA,2.4,154 min,"['Action', 'Adventure', 'Sci-Fi']","['superman character', 'perry white character'...",English,\n\nFollowing a mysterious absence of several ...,2006.0,1.0,154.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
18,8.5,3.2,8.5,NaN,UK,41,106 min,"['Action', 'Adventure', 'Thriller']","['bond girl', 'action hero', 'attempted rape',...",English,"\n\nIs there solace in revenge? Bond and ""M"" s...",2008.0,0.0,106.0,min,0.0,['Action',"'Adventure', 'Thriller']"
19,1,11,1,220000000.0,USA,this,143 min,"['Action', 'Adventure', 'Sci-Fi']","['alien invasion', 'superhero', 's.h.i.e.l.d.'...",English,"\n\nNick Fury is the director of S.H.I.E.L.D.,...",2012.0,1.0,143.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
20,40,5.1,40,225000000.0,USA,58,151 min,"['Action', 'Adventure', 'Fantasy']","['heart', ""liar's dice"", 'monster', 'giant squ...",English,\n\nOnce again we're plunged into the world of...,2006.0,1.0,151.0,min,0.0,['Action',"'Adventure', 'Fantasy']"
21,15,9.9,15,225000000.0,USA,2.3,143 min,"['Action', 'Adventure', 'Fantasy']","['reboot', 'british actor playing american cha...",English,\n\nA young boy learns that he has extraordina...,2013.0,1.0,143.0,min,0.0,['Action',"'Adventure', 'Fantasy']"
22,3.3,1.5,3.3,225000000.0,USA,9,NaN,"['Action', 'Adventure', 'Family']","['narnia', 'king', 'good versus evil', 'brothe...",English,\n\nA year has passed by since the Pevensie ch...,2008.0,1.0,NaN,None,0.0,['Action',"'Adventure', 'Family']"
23,10,on,10,230000000.0,USA,47,136 min,"['Action', 'Adventure', 'Sci-Fi']","['may parker character', 'spider man character...",English,\n\nPeter Parker (Garfield) is an outcast high...,2012.0,1.0,136.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
24,NaN,this,NaN,150000000.0,USA,39,124 min,"['Action', 'Adventure', 'Sci-Fi']","['dinosaur', 'jurassic park', 'velociraptor', ...",English,\n\n22 years after the original Jurassic Park ...,2015.0,1.0,124.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
25,10,8.1,10,225000000.0,USA,this,NaN,"['Action', 'Adventure', 'Comedy']","['andy warhol character', 'neil armstrong char...",English,\n\nAfter breaking out of a moon-based maximum...,2012.0,1.0,NaN,None,0.0,['Action',"'Adventure', 'Comedy']"
26,7.5,on,7.5,200000000.0,USA,2.3,150 min,"['Action', 'Adventure', 'Sci-Fi']","['optimus prime character', 'megatron characte...",English,\n\nA youth chooses manhood. The week Sam Witw...,2009.0,1.0,150.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
27,9,1.6,9,210000000.0,USA,2.3,165 min,"['Action', 'Adventure', 'Sci-Fi']","['blockbuster', 'truck', 'texas', 'bumblebee t...",English,\n\nAfter the battle between the Autobots and ...,2014.0,1.0,165.0,min,0.0,['Action',"'Adventure', 'Sci-Fi']"
28,3.9,20,3.9,210000000.0,Canada,51,NaN,"['Action', 'Adventure', 'Fantasy']","['x men', 'walking through a wall', 'raven dar...",English,"\n\nWhen a cure is created, which apparently c...",2006.0,1.0,NaN,None,0.0,['Action',"'Adventure', 'Fantasy']"
29,7.4,6.3,7.4,200000000.0,USA,1,140 min,"['Action', 'Adventure', 'Drama']","['archer', 'england', '1190s', 'king of englan...",English,\n\nBirth of a legend. Following King Richard'...,2010.0,1.0,140.0,min,0.0,['Action',"'Adventure', 'Drama']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5123,3.9,this,3.9,23000.0,USA,3.9,NaN,"['Comedy', 'Drama']","['austin texas', 'twenty something', 'philosop...",English,"\n\nPresents a day in the life in Austin, Texa...",1991.0,1.0,NaN,None,0.0,['Comedy','Drama']
5124,18,38,18,22000.0,USA,13,NaN,"['Comedy', 'Romance']","['dating', 'divorce', 'anti romantic comedy', ...",English,\n\nSasha tries to get her soon-to-be ex husba...,2013.0,1.0,NaN,None,0.0,['Comedy','Romance']
5125,this,5,this,20000.0,USA,59,NaN,['Drama'],"['used car salesman', 'car salesman', 'baby', ...",English,"\n\nJay Austin, a dishonest car salesman in lo...",2003.0,1.0,NaN,None,0.0,['Drama'],None
5126,on,2.1,on,20000.0,USA,on,NaN,"['Sci-Fi', 'Thriller']","['game of death', 'kidnapping', 'arch villain'...",English,\n\nFour Super Heroes find themselves abducted...,2011.0,1.0,NaN,None,0.0,['Sci-Fi','Thriller']
5127,this,this,this,20000.0,USA,NaN,NaN,"['Documentary', 'Biography', 'Comedy']",[],English,\n\nA 27-year journey about a man so busy chas...,2014.0,1.0,NaN,None,0.0,['Documentary',"'Biography', 'Comedy']"
5128,71,this,71,17350.0,USA,NaN,NaN,"['Drama', 'Horror', 'Thriller']","['college', 'university', 'death', 'avatar', '...",English,\n\nFour college students at Ohio University s...,2011.0,1.0,NaN,None,0.0,['Drama',"'Horror', 'Thriller']"
5129,86,on,86,15000.0,USA,16,NaN,"['Comedy', 'Drama', 'Romance']","['birthday', 'upholsterer', 'new york city', '...",English,"\n\nJosh and Emily are in a relationship, but ...",2005.0,1.0,NaN,None,0.0,['Comedy',"'Drama', 'Romance']"
5130,36,3,36,15000.0,USA,3,NaN,['Romance'],['real life husband and wife play husband and ...,English,\n\nTheir marriage turning stifling after just...,2009.0,1.0,NaN,None,0.0,['Romance'],None
5131,this,15,this,15000.0,Kenya,this,NaN,['Drama'],[],Swahili,\n\nA collection of five vignettes about Kenya...,2014.0,4.0,NaN,None,7.0,['Drama'],None
5132,50,NaN,50,10000.0,USA,1,108 min,"['Comedy', 'Crime']","['absurd humor', 'black humor', 'actual animal...",English,\n\nSleaze queen Divine lives in a caravan wit...,1972.0,1.0,108.0,min,0.0,['Comedy','Crime']
5133,this,this,this,12000.0,USA,this,NaN,"['Action', 'Crime', 'Drama']","['urban setting', 'independent film']",English,\n\nAfter betting a fellow inmate that he woul...,2006.0,1.0,NaN,None,0.0,['Action',"'Crime', 'Drama']"
5134,3,NaN,3,NaN,Ireland,1,NaN,['Horror'],[],English,\n\nRecently dumped by his girlfriend for anot...,2007.0,0.0,NaN,None,0.0,['Horror'],None
5135,this,on,this,10000.0,Iran,39,NaN,['Drama'],"['prostitution', 'prison', 'hospital', 'bus', ...",Persian,\n\nIn a hospital waiting room a woman learns ...,2000.0,3.0,NaN,None,7.0,['Drama'],None
5136,59,1.7,59,NaN,France,11,NaN,"['Drama', 'Music', 'Romance']","['motel', 'jail', 'singer', 'money', 'junkie']",French,\n\nLondon-based Emily Wang gained minor notor...,2004.0,0.0,NaN,None,2.0,['Drama',"'Music', 'Romance']"
5137,this,9,this,NaN,Japan,7,NaN,"['Crime', 'Horror', 'Mystery']","['watching tv', 'murder', 'investigation', 'in...",Japanese,\n\nA wave of gruesome murders is sweeping Tok...,1997.0,3.0,NaN,None,1.0,['Crime',"'Horror', 'Mystery']"
5138,NaN,2,NaN,NaN,USA,NaN,NaN,['Drama'],"['latino', ""shakespeare's romeo and juliet"", '...",English,\n\nSet along Chicago's Little Village neighbo...,2004.0,1.0,NaN,None,0.0,['Drama'],None
5139,NaN,81,NaN,NaN,USA,NaN,NaN,"['Crime', 'Drama']","['homeless man', 'motorcycle', 'homeless', 'ur...",English,\n\nA young woman in L.A. is having a bad day:...,1995.0,1.0,NaN,None,0.0,['Crime','Drama']
5140,this,this,this,100000.0,USA,this,NaN,['Drama'],"['tap dancing', 'dancing', 'f rated', 'black a...",English,"\n\nThe feature film, The Rise and Fall of Mis...",2007.0,1.0,NaN,None,0.0,['Drama'],None
5141,this,NaN,NaN,10000.0,USA,NaN,NaN,"['Action', 'Sport']","['motocross', 'race', 'dirt bike']",English,"\n\nPeeWee's, Mini's, Privateers and Pro's all...",2007.0,1.0,NaN,None,0.0,['Action','Sport']
5142,1.3,21,1.3,9000.0,USA,1.3,NaN,"['Comedy', 'Drama']",['written and directed by cast member'],English,\n\nNewlyweds Buzzy and Katie find their bliss...,2011.0,1.0,NaN,None,0.0,['Comedy','Drama']
5143,NaN,NaN,NaN,7000.0,USA,2.6,NaN,"['Action', 'Crime', 'Thriller']","['death', 'national film registry', 'mariachi'...",Spanish,\n\nEl Mariachi just wants to play his guitar ...,1992.0,1.0,NaN,None,4.0,['Action',"'Crime', 'Thriller']"
5144,29,4,29,7000.0,USA,29,NaN,"['Drama', 'Sci-Fi', 'Thriller']","['changing the future', 'nonlinear timeline', ...",English,"\n\nEngineers Aaron, Abe, Robert and Phillip a...",2004.0,1.0,NaN,None,0.0,['Drama',"'Sci-Fi', 'Thriller']"
5145,this,this,this,7000.0,Philippines,this,NaN,['Thriller'],"['squatter', 'security guard', 'philippines', ...",English,"\n\nAdam, a security guard, travels from Calif...",2005.0,3.0,NaN,None,0.0,['Thriller'],None
5146,5,on,5,3250.0,USA,NaN,NaN,"['Drama', 'Crime']","['mongol', 'stepnicka', 'nostradamus', 'vallon...",English,\n\nJane McIvory (Sara Stepnicka) has been ass...,2005.0,1.0,NaN,None,0.0,['Drama','Crime']
5147,7.3,2,7.3,NaN,USA,NaN,43 min,"['Crime', 'Drama', 'Mystery']","['serial killer', 'fbi', 'cult', 'hideout', 'p...",English,\n\nThe FBI estimates there are currently over...,NaN,1.0,43.0,min,0.0,['Crime',"'Drama', 'Mystery']"
5148,NaN,NaN,NaN,5000.0,USA,this,NaN,"['Documentary', 'War']","['iraq war', 'iraq', 'baghdad iraq', 'refugee'...",Arabic,"\n\nSoon after the 2003 Iraq war, filmmaker Ma...",2004.0,1.0,NaN,None,7.0,['Documentary','War']
5149,on,13,on,NaN,Canada,NaN,NaN,"['Comedy', 'Drama']","['postal worker', 'trial', 'theft', 'prison', ...",English,"\n\nIn this prequel to the series, old-fashion...",2013.0,1.0,NaN,None,0.0,['Comedy','Drama']
5150,NaN,73,NaN,NaN,USA,on,NaN,"['Comedy', 'Drama', 'Romance']",[],English,\n\nWhen ambitious New York attorney Sam is se...,2012.0,1.0,NaN,None,0.0,['Comedy',"'Drama', 'Romance']"
5151,this,this,this,1400.0,USA,this,NaN,"['Drama', 'Horror', 'Thriller']",[],English,\n\nA surreal take on the zombie genre. ...,2013.0,1.0,NaN,None,0.0,['Drama',"'Horror', 'Thriller']"
5152,2,4.4,2,1100.0,USA,1,NaN,['Documentary'],"['date', 'video camera', 'crush', 'actress nam...",English,"\n\n""If you don't take risks, you'll have a wa...",2004.0,1.0,NaN,None,0.0,['Documentary'],None

In [86]:
df2 = pd.DataFrame(X['Genres'].str.split().values.tolist())

In [94]:
X['Genres'].value_counts()

['Drama']                                    229
['Comedy', 'Drama', 'Romance']               214
['Comedy']                                   208
['Comedy', 'Drama']                          186
['Comedy', 'Romance']                        155
['Drama', 'Romance']                         148
['Action', 'Crime', 'Drama']                 118
['Animation', 'Adventure', 'Comedy']         114
['Crime', 'Drama', 'Thriller']               102
['Action', 'Adventure', 'Sci-Fi']             96
['Action', 'Comedy', 'Crime']                 81
['Action', 'Adventure', 'Comedy']             77
['Crime', 'Drama', 'Mystery']                 76
['Horror', 'Thriller']                        73
['Action', 'Adventure', 'Drama']              71
['Action', 'Adventure', 'Fantasy']            69
['Crime', 'Drama']                            63
['Drama', 'Thriller']                         62
['Action', 'Crime', 'Thriller']               62
['Biography', 'Drama', 'History']             59
['Horror']                                    56
['Documentary']                               53
['Horror', 'Mystery', 'Thriller']             51
['Action', 'Adventure', 'Thriller']           50
['Comedy', 'Crime']                           48
['Comedy', 'Crime', 'Drama']                  46
['Drama', 'Mystery', 'Thriller']              42
['Animation', 'Action', 'Adventure']          42
['Adventure', 'Comedy', 'Family']             41
['Comedy', 'Drama', 'Family']                 38
                                            ...
['Comedy', 'Romance', 'Western']               1
['Fantasy', 'Adventure']                       1
['Animation', 'Action', 'Sci-Fi']              1
['Documentary', 'Adventure', 'Biography']      1
['News']                                       1
['Comedy', 'Mystery', 'Sci-Fi']                1
['Drama', 'Family', 'Sci-Fi']                  1
['Documentary', 'Drama', 'Sport']              1
['Action', 'Comedy', 'War']                    1
['Action', 'Drama', 'Music']                   1
['Documentary', 'Crime', 'News']               1
['Family', 'Sport']                            1
['Documentary', 'Biography', 'Comedy']         1
['Documentary', 'Biography', 'Sport']          1
['Adventure', 'Horror', 'Sci-Fi']              1
['Comedy', 'Fantasy', 'Musical']               1
['Comedy', 'Mystery', 'Romance']               1
['Animation', 'Music']                         1
['Family', 'Comedy']                           1
['Documentary', 'Crime', 'Mystery']            1
['Drama', 'Comedy', 'War']                     1
['Short', 'Horror', 'Sci-Fi']                  1
['Film-Noir', 'Thriller']                      1
['Drama', 'Film-Noir']                         1
['Biography', 'Family', 'Sport']               1
['Mystery', 'Western']                         1
['Adventure', 'Family', 'Romance']             1
['Action', 'Comedy', 'Music']                  1
['Adventure', 'Comedy', 'Musical']             1
['Thriller', 'War']                            1
Name: Genres, Length: 446, dtype: int64

In [98]:
def isAction(row):
    if 'Action' in row.Genres:
        return 1;
    else:
        return 0;
    
def isAdventure(row):
    if 'Adventure' in row.Genres:
        return 1;
    else:
        return 0;
    
def isAnimation(row):
    if 'Animation' in row.Genres:
        return 1;
    else:
        return 0;
    
def isBiography(row):
    if 'Biography' in row.Genres:
        return 1;
    else:
        return 0;
    
def isComedy(row):
    if 'Comedy' in row.Genres:
        return 1;
    else:
        return 0;
    
def isCrime(row):
    if 'Crime' in row.Genres:
        return 1;
    else:
        return 0;
    
def isFantasy(row):
    if 'Fantasy' in row.Genres:
        return 1;
    else:
        return 0;

def isDocumentary(row):
    if 'Documentary' in row.Genres:
        return 1;
    else:
        return 0;
    
def isFamily(row):
    if 'Family' in row.Genres:
        return 1;
    else:
        return 0;
    
def isDrama(row):
    if 'Drama' in row.Genres:
        return 1;
    else:
        return 0;
    
def isHistory(row):
    if 'History' in row.Genres:
        return 1;
    else:
        return 0;
    
def isHorror(row):
    if 'Horror' in row.Genres:
        return 1;
    else:
        return 0;
    
def isMusic(row):
    if 'Music' in row.Genres:
        return 1;
    else:
        return 0;
    
def isMystery(row):
    if 'Mystery' in row.Genres:
        return 1;
    else:
        return 0;
    
def isRomance(row):
    if 'Romance' in row.Genres:
        return 1;
    else:
        return 0;
    
def isSciFi(row):
    if 'Sci-Fi' in row.Genres:
        return 1;
    else:
        return 0;
    
def isThriller(row):
    if 'Thriller' in row.Genres:
        return 1;
    else:
        return 0;
    
def isSport(row):
    if 'Sport' in row.Genres:
        return 1;
    else:
        return 0;
    
def isSuperhero(row):
    if 'Superhero' in row.Genres:
        return 1;
    else:
        return 0;
    
def isWar(row):
    if 'War' in row.Genres:
        return 1;
    else:
        return 0;
    
def isWestern(row):
    if 'Western' in row.Genres:
        return 1;
    else:
        return 0;

In [99]:
X['isAction'] = X.apply(lambda row: isAction(row), axis = 1)
X['isAdventure'] = X.apply(lambda row: isAdventure(row), axis = 1)
X['isAnimation'] = X.apply(lambda row: isAnimation(row), axis = 1)
X['isBiography'] = X.apply(lambda row: isBiography(row), axis = 1)
X['isComedy'] = X.apply(lambda row: isComedy(row), axis = 1)
X['isCrime'] = X.apply(lambda row: isCrime(row), axis = 1)
X['isFantasy'] = X.apply(lambda row: isFantasy(row), axis = 1)
X['isDocumentary'] = X.apply(lambda row: isDocumentary(row), axis = 1)
X['isFamily'] = X.apply(lambda row: isFamily(row), axis = 1)
X['isDrama'] = X.apply(lambda row: isDrama(row), axis = 1)
X['isHistory'] = X.apply(lambda row: isHistory(row), axis = 1)
X['isHorror'] = X.apply(lambda row: isHorror(row), axis = 1)
X['isMusic'] = X.apply(lambda row: isMusic(row), axis = 1)
X['isMystery'] = X.apply(lambda row: isMystery(row), axis = 1)
X['isRomance'] = X.apply(lambda row: isRomance(row), axis = 1)
X['isSciFi'] = X.apply(lambda row: isSciFi(row), axis = 1)
X['isThriller'] = X.apply(lambda row: isThriller(row), axis = 1)
X['isSport'] = X.apply(lambda row: isSport(row), axis = 1)
X['isSuperhero'] = X.apply(lambda row: isSuperhero(row), axis = 1)
X['isWar'] = X.apply(lambda row: isWar(row), axis = 1)
X['isWestern'] = X.apply(lambda row: isWestern(row), axis = 1)

In [101]:
X.sum()

Budget            1.509248e+11
Year              1.000676e+07
label_country     4.669000e+03
Duration_movie    2.217080e+05
label_language    1.566000e+03
isAction          1.203000e+03
isAdventure       9.780000e+02
isAnimation       2.500000e+02
isBiography       3.170000e+02
isComedy          1.890000e+03
isCrime           9.130000e+02
isFantasy         4.130000e+02
isDocumentary     1.270000e+02
isFamily          3.610000e+02
isDrama           2.622000e+03
isHistory         1.780000e+02
isHorror          5.620000e+02
isMusic           2.450000e+02
isMystery         4.280000e+02
isRomance         8.750000e+02
isSciFi           4.100000e+02
isThriller        7.880000e+02
isSport           1.320000e+02
isSuperhero       0.000000e+00
isWar             1.090000e+02
isWestern         5.100000e+01
dtype: float64

Superhero is useless

In [102]:
del X['isSuperhero']

## Keywords & Storyline